extends layouts/default.pug

block styles
	link(rel="stylesheet", href='/css/login.css')

block content
	#login-container.container.floating
		h2 Login
		form(action="/user/login/auth", method="post")
			input(type="email", name="username")
			input(type="password", name="password")
			input(type="submit")

		h2 Or use a third party

		#third-party-login.container.floating
			button#google.login-with
				| Login with Google
			button#facebook.login-with
				| Login with Facebook
			button#twitter.login-with
				| Login with Twitter
